<div id="content">
    <p id="back">←</p>
    <p #title id="title">About me</p>
    <div id="container">
        <div id="info">
            <img src="../assets/icon.png" id="icon" alt="My Profile Picture" width="200">
            <p id="resume">Hi, I'm João Henrique Dib! I'm a Full-Stack Web Developer passionate about building
                efficient, scalable, and enjoyable solutions. <br>
                My main focus is on JavaScript, TypeScript, Angular, and
                Node.js, but I also have experience with Python, C, and PHP.
                Beyond coding, I have solid knowledge of Docker, SQL, MongoDB, and Git, which help me streamline
                development workflows and deploy robust applications. <br>
                I love solving problems through code—whether it's creating practical tools to optimize workflows or
                building fun and interactive applications just for the challenge. My goal is always to develop solutions
                that are both useful and enjoyable. <br>
                If you're interested in tech, development, or just want to chat about cool projects, feel free to reach
                out!</p>
        </div>
        <div id="experiences">
            <p id="experiences-title">Experiences</p>
            <div id="containers">

                <div class="experience"></div>
                <div class="experience"></div>
                <div class="experience"></div>
                <div class="experience"></div>

            </div>
        </div>

    </div>
</div>