#content {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:97vh;
}

#back {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    left: 1em;
}
  

#container {
    border: 1px solid #F5F5F5;
    border-radius: 12px;
    width: 95%;
    height:550px;
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 30px;
    display:inline;
}

p {
    color: #F5F5F5;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
}

#options {
    height:200px;
    width: 100%;
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.option {
    text-decoration: underline;
    font-size: 17px;
    cursor:pointer;
}


#info {
    display:flex;
    flex-direction: row;
    gap: 10px;
}

#experiences {

    border: red 1px solid;
    height: 225px;
    margin-top: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#icon {

    margin-left: 30px;
    margin-top: 30px;

}

#resume {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 15px;
}

.experience {

    height: 100%;
    width: 300px;
    border: 1px pink solid;
}

#containers {

    width: 100%;
    border: green 1px solid;
    height: 90vh;
    display: flex;
    gap: 50px;
    position: relative;
    justify-content: center;

}


#experiences-title {
    font-size: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

