<div id="content">
    <p #title id="title"></p>
    <div id="container">
        <p class="text">Full-stack developer specializing in JavaScript, Node.js, and Angular. Studying Computer Science
            at PUC-Rio,
            passionate about building efficient and scalable applications.</p>
        <div id="options">
            <p (click)="redirect('about')" class="option">About me</p>
            <p (click)="redirect('about')"  class="option">Projects</p>
            <p (click)="redirect('about')"  class="option">Contact</p>
        </div>

    </div>
</div>